footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--black-100);
  margin-top: 50px;
}

footer .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: var(--F10);
  font-weight: var(--bold);
  letter-spacing: 0.15rem;
  user-select: none;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer li + li {
  margin-left: 30px;
}

footer li a {
  color: var(--white-75);
  text-transform: uppercase;
  opacity: 0.95;
}

footer p {
  font-size: var(--F10);
  font-weight: var(--bold);
  color: var(--white-75);
  letter-spacing: 0.15rem;
}

footer span {
  text-transform: uppercase;
}

footer p a {
  font-weight: var(--semi-bold);
  letter-spacing: 0.2rem;
}

footer .cat {
  position: absolute;
  bottom: 100%;
  left: calc(100% + 250px);
}

footer p a:hover,
footer li a:hover {
  opacity: 0.75;
}

@media (max-width: 1024px) {
  footer .box {
    flex-direction: column;
  }
}