footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--black-100);
  z-index: 90;
}

@media (min-width: 1025px) {
  footer {
    height: 50px;
  }
}

footer .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: var(--F10);
  font-weight: var(--bold);
  letter-spacing: 0.15rem;
  user-select: none;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

/* footer li + li {
  margin-left: 30px;
} */

footer li a {
  color: var(--white-75);
  text-transform: uppercase;
  opacity: 0.95;
}

footer p {
  font-size: var(--F10);
  font-weight: var(--bold);
  color: var(--white-75);
  letter-spacing: 0.15rem;
  user-select: none;
}

footer span {
  text-transform: uppercase;
}

footer p a {
  font-weight: var(--semi-bold);
  letter-spacing: 0.2rem;
  font-style: italic;
}

footer .cat {
  position: absolute;
  bottom: 100%;
  left: calc(100% + 250px);
}

@media (hover: hover) {
  footer p a:hover,
  footer li a:hover {
    opacity: 0.75;
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 20px 0;
  }

  footer .box {
    flex-direction: column;
    font-size: var(--F12);
  }

  footer ul {
    margin-top: 30px;
  }

  footer p {
    font-size: var(--F12);
  }
}

@media (max-width: 767px) {
  footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer p span {
    margin-bottom: 10px;
  }

  footer p span span {
    display: none;
  }
}
