.home {
  --left-width: 60vw;
  --shape-width: 90%;
  --shape-vertical: 40%;
  --shape-horizontal: 50%;

  --circle-width: 56%;
  --circle-vertical: 33%;
  --circle-horizontal: -22%;

  --dots-width: 16%;
  --dots-vertical: 47%;
  --dots-horizontal: 8%;

  --right-horizontal: 0;
  --right-vertical: 20px;
}

.home .mainSection {
  display: flex;
  height: var(--main-section-height);
  position: relative;
}

.home .left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home .left svg {
  width: 100%;
  height: 100%;
}

.home .shape,
.home .circle,
.home .dots {
  position: absolute;
  transform: translate(-50%, -50%);
}

.home .shape {
  width: var(--shape-width);
  max-width: 620px;
  top: var(--shape-vertical);
  left: var(--shape-horizontal);
  z-index: 15;
}

.home picture {
  z-index: 10;
}

.home .dots {
  width: var(--dots-width);
  top: var(--dots-vertical);
  right: var(--dots-horizontal);
  z-index: 5;
}

.home .circle {
  width: var(--circle-width);
  top: var(--circle-vertical);
  right: var(--circle-horizontal);
  z-index: 0;
}

.home .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home h3 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 30px;
}

/* ANCHOR Media Query */

@media (min-width: 1025px) {
  .home {
    --main-section-height: calc(var(--window-height) - 50px);
    --shape-vertical: 42%;

    height: calc(var(--window-height) - 12px);
    overflow: hidden;
  }

  .home .mainSection {
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    padding-top: 70px;
  }

  .home .left {
    width: min(770px, 80vh);
    max-height: 875px;
    max-width: 770px;
  }

  .home .right {
    padding-left: 100px;
  }

  .home h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .home {
    --main-section-height: calc(var(--window-height) - 12px);
    overflow-x: hidden;
  }

  .home .mainSection {
    min-height: calc(100vh - 12px);
  }

  .home .left {
    width: var(--left-width);
    max-width: 600px;
    position: fixed;
    top: var(--left-vertical);
    left: var(--left-horizontal);
  }

  .home .right {
    position: absolute;
    right: var(--right-horizontal);
    bottom: var(--right-vertical);
  }

  @media (min-width: 768px) {
    .home {
      --left-vertical: 190px;
      --left-horizontal: -70px;
      --right-horizontal: 0;
      --right-vertical: 20px;
    }

    .home h2 {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    @media (min-height: 800px) {
      .home {
        --main-section-height: calc(var(--window-height) - calc(100px + 12px));
      }
    }
  }

  @media (min-width: 850px) {
    .home {
      --left-vertical: 190px;
      --left-horizontal: 9vw;
      --left-width: 45vw;
      --right-horizontal: 0;
      --right-vertical: 20px;
    }
  }

  @media (max-height: 605px) {
    .home {
      --left-vertical: calc(50% + 30px);
    }

    .home .left {
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 767px) {
  .home .mainSection {
    justify-content: center;
  }

  .home h2 {
    margin-bottom: 10px;
  }

  .home .dots {
    display: none;
  }
}

@media (max-width: 767px) {
  @media (min-width: 425px) {
    .home {
      --left-vertical: 140px;
      --left-horizontal: -70px;
      --left-width: 60vw;
      --right-horizontal: 5vw;
      --right-vertical: 40px;
    }

    @media (min-height: 800px) {
      .home {
        --main-section-height: calc(var(--window-height) - calc(125px + 12px));
      }
    }
  }
}

@media (max-width: 424px) {
  .home {
    --left-vertical: 140px;
    --left-horizontal: -70px;
    --left-width: 270px;
    --right-vertical: 40px;
  }

  .home h4 {
    width: 150px;
  }

  @media (min-height: 700px) {
    .home {
      --main-section-height: calc(var(--window-height) - calc(125px + 12px));
    }
  }
}

@media (max-width: 374px) {
  .home {
    --left-vertical: 200px;
    --left-horizontal: -90px;
    --left-width: 60%;
  }

  @media (min-height: 600px) {
    .home {
      --main-section-height: calc(var(--window-height) - calc(125px + 12px));
    }
  }
}
